src/tclIndex
deb
Gizi3*Linux.tgz
gama-local
triangle
triangle1.3
cs2cs
src/build_date.tcl
src/GeoEasy.tcl
GeoEasy
src/ComEasy.tcl
ComEasy
geo_easy.log
src/defaultmask.tcl
*.svg
*.exe
*.g[123]d
src/*.txp
tcldoc
eng_[a-z][a-z][a-z].txt
eng_[a-z][a-z][a-z]_code.txt
ceng_[a-z][a-z][a-z].txt
deb/data/usr/share/geoeasy/*
