Package: geoeasy
Version: 3.1.1-wheezy
Architecture: all
Maintainer: Zoltan Siki <zsiki@github.com>
Section: science
Priority: optional
Depends: tk (>= 8.5.0-1) | wish, license-gpl
Recommends: gama, triangle-bin, proj-bin
Installed-Size: 87716
Homepage: https://github.com/zsiki/GeoEasy
Description: GeoEasy - surveying calculation, network adjustment
 GeoEasy - surveying calculation, network adjustment,
 digital terrain models, regression calculation.
